html{
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
}
body{
    background: linear-gradient(rgb(48, 48, 48), black);
    background-attachment: fixed;
}
.titulo{
    width: 30%;
    padding: 12px 20px;
    margin: 20px 0;
    border: 3px solid  #DB7634;
    border-radius: 10px;
  }
.cuerpo{
    width: 70%;
    padding: 12px 20px;
    margin: 20px 0;
    border: 3px solid  #DB7634;
    border-radius: 10px;
}
.boton{
    margin: 20px 20px;
    padding: 10px 20px;
    border: thick solid #DB7634;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 20px;
}